body {
    font-family: sans-serif;
    padding: 20px 30px 5px 30px;
}

header {
    width: 100%;
    position: relative;
}

h1 {
    font-size: 50px;
    margin-bottom: 0px;
    display: flex;
    position: absolute;
    left: 0%;
    top: -15%;
}

.image-container {
    background-image: url(../assets/design1_image1.jpg);
    height: 30vh;
    background-size: cover;
    background-position-y: 80%;

}

.logo-container {
    display: flex;
    position: absolute;
    right: 5%;
    top: 70%;
    background-color: black;
}

.logo {
    width: 100px;
}

.title-container {
    display: flex;
    justify-content: center;
    background-color: black;
}

h2 {
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
}

.title-span {
    color: white;
    margin-top: 40px;
    margin-bottom: 5px;
    margin-left: -365px; 
}

main {
    display: flex;
    justify-content: space-between;
    position: relative;
}

nav {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.list-container {
    list-style-type: none;
    padding-left: 10px;
}

.li-nav {
    padding: 30px 10px;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    
}

.game-info {
    margin-top: 2%;
}

.text-container {
    margin-top: -12%;
    width: 100%;
}

.h-p3-container {
    width: 100%;
}

.h-container {
    margin-top: 33px;
}

.hP1-container {
    font-style: italic;
}

.hP2-container {
    font-style: italic;
    margin-top: 33px;
}

.p-container{
    padding-left: 30px;
    margin-top: -16px;
    font-size: 17px;
}

.pa-container {
    font-size: 18px;
    padding-left: 14px;
    margin: -12px;
    text-indent: 1rem;
}

.pr-container {
    font-size: 18px;
    padding-left: 14px;
    margin: -12px;
    text-indent: 1rem;
    padding-bottom: 10px;
}

.textA-container {
    width: 100%;
    margin-top: -4%;
}

.textC-container {
    margin-top: -25%;
    font-size: 17px;
}

.rules-container {
    width: 100%;
    margin-top: 3%;
}

span {
    font-weight: bold;
}

.r-olist  ::marker{
    font-weight: bold;
}

.r-olist2 {
    margin-left: -39px;
    margin-top: -20px;
    /* list-style-position: inside; */
    list-style-type: lower-alpha;
    margin-bottom: 25px;
}

.r-olist2  ::marker{
    font-weight: bold;
}

.r-ulist {
    list-style-position: inside;
    list-style-type: circle;
    margin-top: 8px;
    margin-left: 40px;
}

.pr-oli-container {
    font-size: 18px;
    padding-left: 14px;
    margin: -12px;
    /* text-indent: 1rem; */
    padding-bottom: 10px;
    padding-top: 3px;
}

.r-li3-container {
    font-size: 18px;
    padding-left: 14px;
    margin: -12px;
    /* text-indent: 1rem; */
    padding-bottom: 10px;
}

.pr-ol-container {
    font-size: 18px;
    display: inline;
}

.pr2-ol-container {
    font-size: 18px;
    display: inline;
    padding-top: 15px;
}

.prol-container {
    padding-top: 15px;
}

.intro-G {
    display: flex;
    flex-direction: column;

    margin-top: 20px;
}

.intro-G > span {
    padding: 0px;
    margin-bottom: -13px;
    font-weight: 200;
    font-style: italic;
    font-size: 20px;
}

.intro-G > p {
    font-style: italic;
    text-decoration: underline;
    margin-bottom: 30px;
}

table {
    width: 70%;
    margin-left: 90px;
    margin-bottom: 40px;
}

th {
    padding: 5px 0px;
    text-align: left;
    /* background-color: rgb(0, 0, 0, 0.9); */
}

tr {
    text-align: left; 
}

/* tr :hover{
    background-color: rgba(170, 170, 177, 0.9);
} */

td {
/*     border-bottom: 1px solid #ddd; */
    padding: 4px 0px;
}

.date {
    text-align: center;
}

.group-info1 {
    padding: 5px;
}

.group-info1 > p {
    display: inline;
}

.more-info2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.group-info2 {
    padding: 5px;
}

.group-info2 > p {
    display: inline;
}

.phone {
    margin-left: 260px;
}